body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

h1,
h2,
h3,
p {
  color: white;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.carousel-div {
  position: relative;
  height: 500px;
  padding: 1px;
  overflow: hidden;
}

.carousel-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: zoom 5s infinite;
  z-index: -1;
}

.carousel-div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1.5), transparent);
  z-index: 1;
}

.cover-content {
  position: absolute;
  z-index: 9999;
  color: white;
  bottom: 30px;
  left: 20px;
  max-width: 90%;
  min-width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.details {
  width: 60%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 25%;
  align-self: flex-end;
}

.logo {
  width: 75px;
  position: absolute;
  left: 5%;
}

@media only screen and (max-width: 600px) {
  .cover-content p {
    max-height: 10vh;
    overflow: scroll;
    max-width: 60%;
    text-overflow: ellipsis;
  }
  .buttons {
    max-width: 40%;
    height: 12vh;
    flex-direction: column;
  }

  .logo {
    width: 10%;
    position: absolute;
    left: 5%;
  }
}